#home {
  background-image: url("../assets/HomeBg1.jpg");
  background-size: cover;
  height: 63vh;
  background-repeat: no-repeat;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.offerDisplay::-webkit-scrollbar {
  height: 8px;
}