# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# server
indian_hotels_data.json
agra_hotels_dataset.json
eventease_udaipur_hotels.json
varanasi_hotels.json
shimla_hotels.json
rishikesh_hotels.json
kolkata_hotels.json
manali_hotels.json
offers.json
seeder.js
.env